@mixin thumbnail ($bg-image: '') {
    background-image: $bg-image;
    background-size: cover;
    background-position: center;

    width: 400px;
    height: 200px;
}

.projects {
    padding: 100px 300px;
    
    margin: auto;

    display: flex;
}

.project-one {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid white;
    
    .thumbnail {
        @include thumbnail(url('/src/assets/print-library.png'));

    }

    .links {
        height: 100px;
        width: 100%;

        background-color: #1b1b1b;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .code {
            height: 50px;
            width: 150px;

            background-color: #ffff;
        }

        .website {
            height: 50px;
            width: 150px;

            background-color: #ffff;
        }
    }
}

.project-two {

}

.project-three {

}

.project-four {

}