.star {
    width: 2px;
    height: 2px;

    border-radius: 50%;
    box-shadow: 1px 0px 14px 2px white;
    animation: bright 4s alternate infinite linear 1s, parallax 100s linear infinite;

    background-color: white;

    position: absolute;
    z-index: 10;
}