@use '/src/style/variables.scss' as variables;

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bgImage ($bg-image: '') {
    background-image: $bg-image;
    background-size: cover;

    border-radius: 50%;

    z-index: 20;
}

.home-main {
    
    height: 100vh;
    
    display: flex;
    flex-flow: row wrap;

    .background {
        background-color: #070707;
        background-image: url(/src/assets/estrelasFundo.png);
    
        height: 2200px;
        width: 100%;
        z-index: -1000;
        position: absolute;
        top: 0;
    
        animation: parallax 100s linear infinite ;
    }
    
    .welcome-text {
        position: absolute;
        left: 150px;
        bottom: 50px;

        z-index: 30;

        color: #fff;

        animation: welcome-opacity 5s ease-in;
        
        p {
            font-size: 1em;  
            margin-left: 20px; 

            border-bottom: 1px solid #fff;
        }

        h1 {
            font-size: 5.5em;

            color: #070707;

            -webkit-text-stroke: #fff 1px;
        }
    }
}

.saturn-wrapper {
    width: 50%;

    @include flexbox;

    .saturn {
        width: 220px;
        height: variables.$saturn-height-width;

        @include bgImage(url('/src/assets/saturn.png'));

        animation: floating 2s infinite linear 3s;

        border-radius: 0;
        margin-bottom: 100px;

        position: relative;
    }

    .ring {
        width: calc(variables.$saturn-height-width + 50px);
        height: calc(variables.$saturn-height-width + 50px);

        animation: bright 10s infinite;
        transform: rotateX(258deg) rotateY(33deg);
        transform-style: preserve-3d;

        border: 1px solid #fff;
        border-radius: 50%;
        box-shadow: -1px 1px 20px 1px white;
        
        position: absolute;
        top: -25px;
        left: 20px;
    }
}

.jupiter-wrapper {
    width: 50%;

    @include flexbox;

    .jupiter {
        width: variables.$jupiter-height-width;
        height: variables.$jupiter-height-width;
        
        @include bgImage(url('/src/assets/Jupiter.png'));

        animation: floating 2s infinite linear 1s;

        margin-top: 100px;
    }    
}

.earth-wrapper {
    width: 100vw;

    @include flexbox;

    .earth {
        width: variables.$earth-height-width;
        height: variables.$earth-height-width;
    
        @include bgImage(url('/src/assets/terra2.png'));

        animation: rotate 200s linear infinite;
    }

    .moon-wrapper {
        width: calc(variables.$earth-height-width + 100px);
        
        position: absolute;

        animation: moon-turn 100s linear infinite;

        .moon {
            width: variables.$moon-height-width;
            height: variables.$moon-height-width;
    
            background-color: #fff;
    
            margin: 20px;
            border-radius: 50%;
        }
    }
}

.click-star {
    opacity: 0;

    height: 20px;

    margin: auto;

    color: #fff;

    display: flex;
    align-items: center;
    gap: 10px;

    animation: click-star 6s linear 3s;

    & :first-child {
        fill: #fff;
    }
}

@media (max-width: 580px) {
    .home-main {
        .welcome-text {
            left: 100px;
    
            
            font-size: 12px;
    
            h1 {
                -webkit-text-stroke: #fff .5px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .home-main .welcome-text {
        left: 50px;
        bottom: 20px;

        font-size: .9rem;
    }
}

@media (max-width: 520px) {
    .home-main{
        flex-direction: column;

        .saturn-wrapper {
            width: 100%;

            justify-content: flex-start;

            padding: 50px 0;
            
            .saturn{
                margin: 0 20px;

                width: 160px;
                height: 110px;
            }

            .ring {
                width: 150px;
                height: 90px;

                left: 10px;
                top: 10px;
            }
        }

        .jupiter-wrapper {
            width: 100%;

            justify-content: flex-end;

            padding-bottom: 50px;
            .jupiter {
                margin: 0 10px;

                width: 150px;
                height: 150px;
            }
        }

        .earth-wrapper {
            padding: 70px 0;

            .earth {
                width: 20px;
                height: 20px;
            }
        }
        
        .welcome-text {
            left: 20px;

            font-size: 12px;
        }

        .click-star {
            display: none;
        }
    }
}