@use '/src/style/variables.scss' as variables;

@mixin wrapper-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bgImage ($bg-image: '') {
    background-image: $bg-image;
    background-size: cover;

    border-radius: 50%;

    z-index: 20;

    position: sticky;
}

.home-main {
    
    height: 100vh;
    
    display: flex;
    flex-flow: row wrap;

    .background {
        background-color: #070707;
        background-image: url(/src/assets/estrelasFundo.png);
        background-size: 90vh;
    
        height: 4000px;
        width: 100%;
        z-index: -1000;
        position: absolute;
        top: 0;
    
        animation: parallax 100s linear infinite 0s;
    }
    
    .welcome-text {
        position: absolute;
        left: 200px;
        bottom: 200px;

        z-index: 30;

        color: #d4d4d4;

        animation: welcome-opacity 5s ease-in;
        
        p {
            font-size: 1em;  
            margin-left: 20px; 

            border-bottom: 1px solid #d4d4d4;
        }

        h1 {
            font-size: 7.5em;
        }
    }
}

.saturn-wrapper {
    width: 50%;

    @include wrapper-display;

    .saturn {
        width: 220px;
        height: variables.$saturn-height-width;

        @include bgImage(url('/src/assets/saturn.png'));

        border-radius: 0;
        margin-bottom: 100px;

        position: relative;
    }

    .ring {
        width: calc(variables.$saturn-height-width + 50px);
        height: calc(variables.$saturn-height-width + 50px);

        animation: bright 10s infinite;
        transform: rotateX(258deg) rotateY(33deg);
        transform-style: preserve-3d;

        border: 1px solid #fff;
        background-image: url(/src/assets/estrelasFundo.png);
        border-radius: 50%;
        box-shadow: -1px 1px 20px 1px white;
        
        position: absolute;
        top: -25px;
        left: 20px;
    }
}

.jupiter-wrapper {
    width: 50%;

    @include wrapper-display;

    .jupiter {
        width: variables.$jupiter-height-width;
        height: variables.$jupiter-height-width;
        
        @include bgImage(url('/src/assets/Jupiter.png'));

        margin-top: 100px;
    }    
}

.earth-wrapper {
    width: 100vw;

    @include wrapper-display;

    .earth {
        width: variables.$earth-height-width;
        height: variables.$earth-height-width;
    
        @include bgImage(url('/src/assets/terra2.png'));

        animation: rotate 200s linear infinite;

        cursor: pointer;
    }

    .moon-wrapper {
        width: calc(variables.$earth-height-width + 100px);
        
        position: absolute;

        animation: moon-turn 100s linear infinite;

        .moon {
            width: variables.$moon-height-width;
            height: variables.$moon-height-width;
    
            background-color: #fff;
    
            margin: 20px;
            border-radius: 50%;

        }
    }
}
