@use '/src/style/variables.scss' as variables;

.about-main {
    // background-image: url(/src/assets/red-moon.png);
    // background-repeat: no-repeat;
    // background-position: center bottom;
    // background-size: 400px;
    background-color: variables.$default-body-bg;
    color: #fff;

    // // box-shadow: 1px 1px 1px 1px #fff;

    border-top: 1px solid white;

    box-shadow: 1px 1px 1px 1px white;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 20px;
}

.perfil-img {
    background-image: url(/src//assets/foto-perfil-contorno.jpg);
    background-color: #234c8a;
    background-size: contain;
    background-position: center bottom;
    opacity: .8;
    
    width: variables.$perfil-height-width;
    height: variables.$perfil-height-width;

    border-radius: 50%;

    margin-bottom: 20px
}
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 50px;

    padding: 20px;


    h1 {
        font-size: 2rem;

        max-width: 300px;

        text-align: center;

        margin-bottom: 20px;
    }

    p {
        text-align: center;
        
        max-width: 400px;

        margin-bottom: 40px;
    }

    .contacts {
    
        ul {
            display: flex;
            gap: 20px;

            list-style: none;
    
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                font-size: 12px;
                & .stamp {
                    width: 30px; 
                    height: 30px;

                    & :first-child {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }

}

.stack-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    text-align: center;

    margin: auto;
    padding: 20px;
    // margin-top: 250px;

    .stack {
        max-width: 400px;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            list-style: none;
            
            li {
                & .stamp {
                    border: 2px solid #dedede;

                    background-color: #242424;

                    :first-child {
                        width: 28px;
                        height: 28px;
                    }   
                }
            }
        }
    }

    h1 {
        align-self: flex-start;
        
        font-size: 2rem;
    }

    p {
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .stack-wrapper p, .stack-wrapper h2 {
        display: none;
    }
    .stack-wrapper h1 {
        align-self: center ;
    }
}