@use '/src/style/variables.scss' as variables;

header{
  background-color: transparent;

  height: variables.$header-height;
  width: 100vw;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  top: 0px;

  ul { 
    width: 200px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    list-style: none;
    
    a {
      text-decoration: none;
    
      color: #fff;
    }
  }
}
