@use '/src/style/variables.scss' as variables;

header{
  background-color: transparent;

  height: 50px;
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: sticky;
  top: 0px;

  font-weight: 600;

  ul { 
    width: 200px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    list-style: none;
    
    a {
      text-decoration: none;
    
      color: #fff;
    }
  }
}

footer {
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  padding: 50px 0px;

  background-color: #43435b;
  background-image: url(/src/assets/color-1-japonese-wave.jpg);
  background-size: contain;

  .email-copy {
    background-color: #242424;

    padding: 10px;

    border-radius: 10px;

    cursor: pointer;
  }
  
  .contact-icons {
    :first-child, :last-child {
      margin: 10px;

      width: 30px;
      height: 30px;

      cursor: pointer;
    }
  }

  h3 {
    font-size: 2rem;

    font-weight: 400;
  }
}

.flash-mensage {
  position: fixed;
  left: 43%;
  bottom: 20px;
  z-index: 100;

  padding:5px 10px;
  border-radius: 10px;

  background-color: #fff;

  opacity: .8;

  text-align: center;
}