@use '/src/style/variables.scss' as variables;

footer {
  color: #fff;

  border-top: 1px solid #3f3f3f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  padding: 30px 0px;
  
  background-image: url(/src/assets/color-4-japonese-wave.jpg);
  background-size: contain;
  background-position: center;

  .email-copy {
    background-color: #242424;

    padding: 10px;

    border-radius: 10px;

    cursor: pointer;
  }
  
  .contact-icons {
    :first-child, :last-child {
      margin: 10px;

      width: 30px;
      height: 30px;

      cursor: pointer;
    }
  }

  h3 {
    font-size: 2rem;

    font-weight: 400;
  }
}

.flash-mensage {
  position: fixed;
  left: 43%;
  bottom: 20px;
  z-index: 100;

  padding:5px 10px;
  border-radius: 10px;

  background-color: #fff;

  opacity: .8;

  animation: flash-mensage 3s ease;

  text-align: center;
}

@media (max-width: 770px) {
  .flash-mensage {
    left: 38%;
  }
}

@media (max-width: 600px) {
  .flash-mensage {
    left: 34%;
  }
}

@media (max-width: 450px) {
  .flash-mensage {
    left: 27%;
  }
}

@media (max-width: 380px) {
  .flash-mensage {
    left: 23%;
  }
}

@media (max-width: 320px) {
  .flash-mensage {
    left: 18%;
  }
}