@use '/src/style/variables.scss' as variables;

.stamp {
    width: variables.$stamp-height-width;
    height: variables.$stamp-height-width;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e8e8e8;

    cursor: pointer;

    :first-child {
        color: #000;
    }
}